<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Users</servlet-name>
        <servlet-class>Catalogo.Items</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getUsersServlet</servlet-name>
        <servlet-class>Catalogo.getCatalogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertUserServlet</servlet-name>
        <servlet-class>Catalogo.insertCatalogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadUserServlet</servlet-name>
        <servlet-class>Catalogo.loadCatalogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateUserServlet</servlet-name>
        <servlet-class>Catalogo.updateCatalogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InventCarros</servlet-name>
        <servlet-class>Users.InventCarros</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertVehiculo</servlet-name>
        <servlet-class>Users.insertVehiculo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getVehiculos</servlet-name>
        <servlet-class>Users.getVehiculos</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Users</servlet-name>
        <url-pattern>/Users</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getUsersServlet</servlet-name>
        <url-pattern>/getUsersServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertUserServlet</servlet-name>
        <url-pattern>/insertUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadUserServlet</servlet-name>
        <url-pattern>/loadUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateUserServlet</servlet-name>
        <url-pattern>/updateUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InventCarros</servlet-name>
        <url-pattern>/InventCarros</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertVehiculo</servlet-name>
        <url-pattern>/insertVehiculo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getVehiculos</servlet-name>
        <url-pattern>/getVehiculos</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
